/* CSS Document */
@charset "utf-8";
@charset "utf-8";

.right_h2{width: 85px;height: 40px;line-height: 40px;font-size:14px; color: #fff;}
.setInfo2{border-top: 1px solid #e0e0e0;}
.right-tips{width: 710px;height:45px;line-height: 45px;border:1px solid #fff3de; color: #da906a;padding-left: 15px;margin: 30px;}
.table-infor td{border:1px solid #e0e0e0;}
.table-infor tr td{padding-left: 12px;}
.table-infor tr td:first-child{width: 125px;height: 45px;text-align: right;padding-right: 12px;}
.dwname{height: 25px;width: 280px;padding-left: 8px;}
.confirm{width: 65px;height:35px;line-height: 35px;border:1px solid #fff3de; color:#fff;margin: 30px; background: #F49800;border-radius: 3px;display: block;margin-left: 175px;}
.tableLs2 tr td input{width: 310px;}
.cs1{border-bottom: 1px #ededed solid;border-right: 1px #ededed solid;text-align: right;    padding-right: 12px;color:#333;    font-size: 12px;}
.upload{display: inline-block;width: 71px;height: 71px;margin:15px 8px 12px 0px; cursor: pointer;}
.btnSure{cursor: pointer;}
.setInfo .btnSure2{margin-bottom: 20px;}
.tableLs input{padding-left: 8px;  vertical-align: middle;}
#province2{width: 170px;border:1px solid #e0e0e0;}
#city2{width: 115px;border:1px solid #e0e0e0;}
.textarea2{height:60px ;width: 285px;border:1px solid #e0e0e0;margin: 10px 10px 10px 0;}
.uniceTable2 .userDh a {
    background: #fff;
    color:  #00a2ca;
}
img.ifchecked{display: inline-block;transform: translateY(2px);margin-right: 5px;cursor: pointer}
